/**=====================
     Tap to top scss
==========================**/
.theme-option {
  position: fixed;
  bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
  right: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
  z-index: 1;
  transition: all 0.3s ease-in-out;

  body[dir='rtl'] & {
    right: unset;
    left: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
  }

  @include mq-max(md) {
    bottom: calc(75px + (80 - 75) * ((100vw - 320px) / (1920 - 320)));
  }

  .back-to-top {
    background-color: $primary;
    padding: 0;
    border-radius: 5px;
    z-index: 1;
    margin-top: 12px;

    a {
      cursor: pointer;
      @include flex_common;
      @include pseudowh($width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320))), $height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320))));

      svg {
        color: #fff;
        font-size: x-large;
      }
    }
  }
}

.stickyCart {
  .theme-option {
    bottom: 95px;

    @include mq-max(xl) {
      bottom: 107px;
    }

    @include mq-max(md) {
      bottom: 160px;
    }

    @include mq-max(xs) {
      bottom: 144px;
    }
  }

  .compare-fix {
    bottom: 96px;

    @include mq-max(md) {
      bottom: 75px;
    }
  }

  footer {
    @include mq-max(md) {
      margin-bottom: calc(120px + (139 - 120) * ((100vw - 320px) / (767 - 320)));
    }
  }

  .recently-purchase {
    &.show {
      @include mq-max(md) {
        bottom: calc(128px + (160 - 128) * ((100vw - 320px) / (767 - 320)));
      }
    }
  }
}