/**=====================
     Tooltip scss
==========================**/
.tooltip {
    transition: opacity 0.15s linear;

    .tooltip-arrow {
        &::before {
            border-top-color: $primary;
        }
    }

    .tooltip-inner {
        font-weight: 500;
        background-color: $primary;
        color: $white;
    }
}