/**=====================
     Typography scss
==========================**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 14px;
    color: $title-color;
    margin: 0;
    background-color: $background;
    transition: all 0.3s ease-in-out;
    padding-right: 0 !important;

    ::selection {
        color: #fff;
        background-color: $primary;
    }
}

.bg-default {
    background-color: $background;
}

.bg-second {
    background-color: $secondBg;
}

.bg-third {
    background-color: $thirdBG;
}

.border-10 {
    border-radius: 10px;
}

.border-30 {
    border-radius: 30px;
}

.bg-overlay {
    @include pseudowh($width: 100vw, $height: 100vh);
    background-color: $title-color;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.show {
        visibility: visible;
        opacity: 0.5;
    }
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 18px;
}

a {
    color: $primary;
    transition: 0.5s ease;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        transition: 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

button {
    &:focus {
        outline: none;
    }
}

.btn-close {
    &:focus {
        box-shadow: none;
    }
}

:focus {
    outline: none;
}

.form-control {
    background-color: $thirdBG;

    &:focus {
        box-shadow: none;
        border-color: $primary;
    }
}

h1 {
    font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1.1;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin: 0;
}

h3 {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

h4 {
    font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}

h5 {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}

h6 {
    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}

span {
    display: inline-block;
}

input {
    color: rgba(255, 255, 255, 0.70) !important;
    border: none;
}

textarea {
    background-color: $thirdBG;
    color: $title-color;
    border: none;
    border-radius: 10px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
}

.theme-color {
    color: $primary !important;
}

.theme-bg-color {
    background: $primary !important;
    color: #fff !important;
}

.button-color-transparent {
    background: $primary-transparent !important;
    color: $primary !important;
}