// Bootstrap
@import './vendors/bootstrap.scss';

// React Slick
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

// React-Toastify
@import 'react-toastify/dist/ReactToastify.css';

// Remix Icon
@import 'remixicon/fonts/remixicon.css';

@import "utils/variables";
@import 'style.scss';

.dark {
    @import 'dark.scss';
}

.flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .shrink-0 {
    flex-shrink: 0;
  }
  
  .grow {
    flex-grow: 1;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .font-mono {
    font-family: monospace;
  }
  
  .color-white {
    color: white;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .contents {
    display: grid;
    place-items: center;
    transition: filter 0.2s ease-out, background-color 0.2s ease-out;
    font-size: 16px;
  }
